@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Dashboard</h2>

<div class="checkbox mt-5 " style="text-align:center">
   
    <i class="fa fa-user-alt fa fa fa-user fa-4x"></i>
    <br /><br /><br />
    <h3>WELCOME TO ADMIN PAGE</h3> 
</div>

